@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

body {
  background: -moz-linear-gradient(45deg, rgba(163,196,149,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(163,196,149,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(163,196,149,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(163,196,149,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(163,196,149,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(163,196,149,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#A3C495',GradientType=1 ); /* ie6-9 */
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  color: white;
}
